.hello {
  transform-origin: 46px 28px;
  animation: rotate-greeting 2s backwards ease-in-out;
  z-index: 30;
}

@keyframes rotate-greeting {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(140deg);
  }
  35% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(140deg);
  }
  65% {
    transform: rotate(100deg);
  }
  80% {
    transform: rotate(140deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.happy {
  animation: jump 2s infinite;
}

@keyframes jump {
  0%,
  10% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}

.left_arm_happy {
  transform-origin: 20px 28px;
  animation: left_arm_happy 2s infinite ease-in-out;
}

@keyframes left_arm_happy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right_arm_happy {
  transform-origin: 46px 28px;
  animation: right_arm_happy 2s infinite ease-in-out;
}

@keyframes right_arm_happy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
