.hello {
  transform-origin: 46px 28px;
  animation: rotate-greeting 2s backwards ease-in-out;
}

@keyframes rotate-greeting {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(140deg);
  }
  35% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(140deg);
  }
  65% {
    transform: rotate(100deg);
  }
  80% {
    transform: rotate(140deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.happy {
  animation: jump 2s infinite ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
