.stage {
  background-image: url("/stage.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade {
  animation: fade-down 1s reverse forwards;
}

.liany {
  top: -40px;
  @media only screen and (min-height: 698px) {
    top: 20px;
  }
  @media only screen and (min-height: 798px) {
    top: 100px;
  }
  @media only screen and (min-height: 887px) {
    top: 160px;
  }
  @media only screen and (min-height: 987px) {
    top: 240px;
  }
}
